<div style="text-align: center;">
  <img src="https://github.com/Hack-io-Data/Imagenes/blob/main/01-LogosHackio/logo_naranja@4x.png?raw=true" alt="esquema" />
</div>

# Laboratorio Filtrado de Datos

En este laboratorio usaremos el DataFrame creado en la lección anterior resultado de la unión de los conjuntos de datos compartidos contigo. 

**Instrucciones:**

1. Lee cuidadosamente el enunciado de cada ejercicio.

2. Implementa la solución en la celda de código proporcionada.

In [1]:
import pandas as pd
import numpy as np

pd.set_option('display.max_columns', None) # para poder visualizar todas las columnas de los DataFrames

In [3]:
# Carga el dataset de trabajo

df = pd.read_csv('combined_netflix.csv')

In [10]:
df.drop('Unnamed: 0', axis = 1, inplace = True)

In [11]:
df.sample()

,Genre,Runtime,IMDB Score,Language,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
3226,NaN,NaN,NaN,NaN,Movie,The Body Remembers When the World Broke Open,"Elle-Máijá Tailfeathers, Kathleen Hepburn","Violet Nelson, Elle-Máijá Tailfeathers, Charli...","Canada, Norway","November 27, 2019",2019,TV-MA,NaN,"Dramas, Independent Movies","After a traumatic event, two Indigenous women ..."

#### Ejercicio 1: ¿Cuáles son todos los títulos lanzados en 2021 que son del tipo 'Movie'?

In [23]:
filtro1 = (df['type'] == 'Movie') & (df['release_year'] == 2021)

df[filtro1]['title'].head()

6     My Little Pony: A New Generation
9                         The Starling
12                        Je Suis Karl
13    Confessions of an Invisible Girl
18                           Intrusion
Name: title, dtype: object

#### Ejercicio 2: ¿Qué títulos tienen una duración de 90 minutos? Muestra solo las columnas de título y de duración.

In [20]:
filtro2 = (df['duration'] == '90 min')

df[filtro2][['title', 'duration']].head()

                    title duration
0    Dick Johnson Is Dead   90 min
94              Show Dogs   90 min
107      A Champion Heart   90 min
229          The Old Ways   90 min
283  Misha and the Wolves   90 min

#### Ejercicio 3: ¿Cuáles son todos los títulos del país 'India' lanzados después de 2018?

In [22]:
filtro3 = (df['country'] == 'India') & (df['release_year'] > 2018)

df[filtro3]['title'].head()

4              Kota Factory
39             Chhota Bheem
126                 Shikara
190              Thimmarusu
266    The Creative Indians
Name: title, dtype: object

#### Ejercicio 4: ¿Qué títulos tienen clasificación 'TV-14' o 'R'?

In [31]:
filtro4 = (df['rating'] == 'TV-14') | (df['rating'] == 'R')

df[filtro4][['title','rating']].head()

                                              title rating
8                     The Great British Baking Show  TV-14
18                                        Intrusion  TV-14
20  Monsters Inside: The 24 Faces of Billy Milligan  TV-14
21                           Resurrection: Ertugrul  TV-14
24                                            Jeans  TV-14

#### Ejercicio 5: ¿Cuáles son los títulos dirigidos por 'Christopher Nolan' o 'Martin Scorsese'? ¿Cuántos a dirigido cada uno de los directores?

In [38]:
filtro5 = (df['director'] == 'Christopher Nolan') | (df['director'] == 'Martin Scorsese')

df[filtro5][['title', 'director']].head()

                             title           director
340                      Inception  Christopher Nolan
1358                Shutter Island    Martin Scorsese
2632  No Direction Home: Bob Dylan    Martin Scorsese
2860                          Hugo    Martin Scorsese
3227                  The Irishman    Martin Scorsese

#### Ejercicio 6: ¿Qué títulos pertenecen a los países 'United States', 'United Kingdom' o 'Canada'? Dentro de estos países, ¿cuántas películas tienen más de un lenguaje?

In [82]:
# Filtro que toma los países mencionados
lista_paises = ['United States', 'United Kingdom', 'Canada']
filtro6 = df['country'].isin(lista_paises)
# Almacenamos el dataframe
df_anglo = df[filtro6][['title', 'Language']]
df_anglo.head()

                            title Language
0            Dick Johnson Is Dead  English
8   The Great British Baking Show      NaN
9                    The Starling      NaN
15              Dear White People      NaN
27                      Grown Ups      NaN

In [101]:
# Comprobamos qué entradas de lenguaje hay
df[filtro6]['Language'].unique()

array(['English', nan, 'English/Arabic', 'Spanish/English',
       'English/Taiwanese/Mandarin', 'French', 'Portuguese', 'Japanese',
       'Spanish', 'English/Spanish', 'English/Hindi', 'English/Japanese',
       'English/Mandarin', 'English/Russian', 'English/Akan'],
      dtype=object)

In [103]:
# Más de un lenguaje SI Y SOLO SI hay una barra /
filtro_varios_lenguajes = df_anglo['Language'].str.contains(r'\/', na=False)
# Contamos cuántos hay
df_anglo[filtro_varios_lenguajes].count()

title       10
Language    10
dtype: int64

#### Ejercicio 7: ¿Qué títulos fueron lanzados entre 2015 y 2020, inclusive?

In [106]:
filtro7 = df['release_year'].between(2015, 2020, inclusive='both')

df[filtro7][['title', 'release_year']].head()

                                                title  release_year
0                                Dick Johnson Is Dead          2020
16  Europe's Most Dangerous Man: Otto Skorzeny in ...          2020
17                                    Falsa identidad          2020
21                             Resurrection: Ertugrul          2018
32                                      Sex Education          2020

#### Ejercicio 8: ¿Cuáles son los títulos cuya puntuación en IMDb está entre 6.5 y 8.0 y que no sepamos cual es su duración?

In [117]:
# No saber la duración es df['duration'].isna()
filtro8 = (df['IMDB Score'].between(6.5, 8.0, inclusive='both')) & (df['duration'].isna())

df[filtro8][['title', 'IMDB Score', 'duration']].head()

                       title  IMDB Score duration
834             Blue Miracle         6.7      NaN
895                   Oxygen         6.5      NaN
910                  Monster         6.5      NaN
1024  Arlo the Alligator Boy         6.7      NaN
1157                Bad Trip         6.6      NaN

#### Ejercicio 9: ¿Cuáles son las películas cuya duración de 90 y 150 minutos?

In [123]:
filtro9 = (df['duration'] == '90 min') | (df['duration'] == '150 min')

df[filtro9][['title', 'IMDB Score', 'duration']].head()

                                 title  IMDB Score duration
0                 Dick Johnson Is Dead         7.5   90 min
94                           Show Dogs         NaN   90 min
107                   A Champion Heart         NaN   90 min
205  Kyo Kii... Main Jhuth Nahin Bolta         NaN  150 min
229                       The Old Ways         NaN   90 min

#### Ejercicio 10: ¿Cuáles son los títulos que contienen la palabra 'Love' en su título y que sean de tipo TV Show?

In [137]:
filtro10 = (df['title'].str.contains(r'\b[L|l]ove', na=False)) & (df['type'] == 'TV Show')

df[filtro10][['title', 'type']].head()

                                title     type
25               Love on the Spectrum  TV Show
659   Bangkok Love Stories: Innocence  TV Show
731   Love (ft. Marriage and Divorce)  TV Show
883              Love, Death & Robots  TV Show
1032                     Love Naggers  TV Show

#### Ejercicio 11: ¿Cuáles son los títulos en los que el director tiene el apellido 'Johnson'?

In [142]:
filtro11 = (df['director'].str.contains(r'\b[J|j]ohnson', na=False))

df[filtro11][['title', 'director']].head()

                     title             director
0     Dick Johnson Is Dead      Kirsten Johnson
829       Dog Gone Trouble        Kevin Johnson
846                   Home          Tim Johnson
2052      Love, Guaranteed  Mark Steven Johnson
2083  The Debt Collector 2     Jesse V. Johnson

#### Ejercicio 12: ¿Tenemos algún documental ('Documentaries') de Mike Tyson?

In [175]:
filtro12 = (df['director'].str.contains(r'Mike Tyson', na=False)) #& (df['listed_in'].str.contains(r'Documentaries' , na=False))

df[filtro12][['title', 'director', 'listed_in']].head()
# No hay nignuno. De hecho no hay nada de Mike Tyson

Empty DataFrame
Columns: [title, director, listed_in]
Index: []

#### Ejercicio 13: Selecciona solo las columnas 'title', 'country' y 'release_year' del dataset.

In [153]:
df[['title', 'country', 'release_year']].head()

                   title        country  release_year
0   Dick Johnson Is Dead  United States          2020
1          Blood & Water   South Africa          2021
2              Ganglands            NaN          2021
3  Jailbirds New Orleans            NaN          2021
4           Kota Factory          India          2021

#### Ejercicio 14: Filtra las columnas que contienen la palabra 'date'.

In [155]:
df.filter(like = 'date').head()

           date_added
0  September 25, 2021
1  September 24, 2021
2  September 24, 2021
3  September 24, 2021
4  September 24, 2021

#### Ejercicio 15: Usando `query()`, filtra todos los títulos del país 'France' con una duración de 80 minutos.

In [159]:
df.query(f"country == 'France' and duration == '80 min'").head()

# Solo hay 1

,Genre,Runtime,IMDB Score,Language,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
5474,NaN,NaN,NaN,NaN,Movie,Arès,Jean-Patrick Benes,"Ola Rapace, Micha Lescot, Thierry Hancisse, Hé...",France,"May 23, 2017",2016,TV-MA,80 min,"Action & Adventure, International Movies, Sci-...",A futuristic France tries to keep its people f...

In [160]:
# Como hemos hecho antes:
filtro15 = (df['country'] == 'France') & (df['duration'] == '80 min')

df[filtro15][['title', 'country', 'duration']].head()

     title country duration
5474  Arès  France   80 min

#### Ejercicio 16: Filtra los títulos que son películas ('Movie') y fueron lanzados antes de 2010.

In [161]:
filtro16 = (df['release_year'] < 2010) & (df['type'] == 'Movie')

df[filtro16][['title', 'release_year', 'type']].head()

              title  release_year   type
7           Sankofa          1993  Movie
22  Avvai Shanmughi          1996  Movie
24            Jeans          1998  Movie
26   Minsara Kanavu          1997  Movie
41             Jaws          1975  Movie

#### Ejercicio 17: Encuentra los 10 títulos con las puntuaciones más altas en IMDb.

In [165]:
df[['title', 'IMDB Score']].sort_values(by='IMDB Score', ascending=False).head(10)

                                            title  IMDB Score
1886     David Attenborough: A Life on Our Planet         9.0
4293                      Springsteen on Broadway         8.5
5893  Winter on Fire: Ukraine's Fight for Freedom         8.4
5152                       Cuba and the Cameraman         8.3
3386                       Dancing with the Birds         8.3
3273                                        Klaus         8.2
1857        The Three Deaths of Marisela Escobedo         8.2
1171                                   Seaspiracy         8.2
2097                               Rising Phoenix         8.1
5376                                Chasing Coral         8.1

#### Ejercicio 18: Encuentra los 5 títulos con las puntuaciones más bajas en IMDb.

In [166]:
df[['title', 'IMDB Score']].sort_values(by='IMDB Score', ascending=True).head(5)

                title  IMDB Score
3623  Enter the Anime         2.5
3094          The App         2.6
2104      Dark Forces         2.6
5073   The Open House         3.2
1777      Kaali Khuhi         3.4

#### Ejercicio 19: Filtra todos los títulos que no tienen un director asignado (valores nulos en la columna 'director').

In [172]:
# No saber el director es df['director'].isna()
filtro19 = (df['director'].isna())

df[filtro19][['title', 'director']].head()

                                  title director
1                         Blood & Water      NaN
3                 Jailbirds New Orleans      NaN
4                          Kota Factory      NaN
10  Vendetta: Truth, Lies and The Mafia      NaN
14      Crime Stories: India Detectives      NaN

In [173]:
df[filtro19][['title', 'director']].count()
# Son 2634

title       2634
director       0
dtype: int64

#### Ejercicio 20: Filtra todos los títulos que tienen información completa en las columnas 'title', 'country' y 'IMDB Score'.

In [192]:
filtro20 = (df['IMDB Score'].isna() == False) & (df['title'].isna() == False) & (df['country'].isna() == False)
# Vemos que efectivamente no hay nulos
df[filtro20][['title', 'country', 'IMDB Score']].info()

<class 'pandas.core.frame.DataFrame'>
Index: 499 entries, 0 to 5916
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   title       499 non-null    object
 1   country     499 non-null    object
 2   IMDB Score  499 non-null    float64
dtypes: float64(1), object(2)
memory usage: 15.6+ KB

#### Ejercicio 21: Identifica si hay títulos duplicados en la columna 'title'.

In [196]:
# Cantidad de valores
df['title'].value_counts().sum()

8807

In [201]:
# Tamaño del dataframe
df['title'].unique().shape[0]

8807

In [202]:
# Vemos que son iguales pero podemos hacerlo directamente con df.duplicated()
df.duplicated(subset = "title").sum()

0