<div style="text-align: center;">
  <img src="https://github.com/Hack-io-Data/Imagenes/blob/main/01-LogosHackio/logo_naranja@4x.png?raw=true" alt="esquema" />
</div>

# Laboratorio Agrupamiento de Datos

En este laboratorio usaremos el DataFrame creado en la lección anterior resultado de la unión de los conjuntos de datos compartidos contigo. 

**Instrucciones:**

1. Lee cuidadosamente el enunciado de cada ejercicio.

2. Implementa la solución en la celda de código proporcionada.

3. Devuelve los resultados siempre en formato de DataFrame

In [1]:
import pandas as pd
import numpy as np

pd.set_option('display.max_columns', None) # para poder visualizar todas las columnas de los DataFrames

In [2]:
# Carga el dataset de trabajo

df = pd.read_csv('combined_netflix.csv')
df.drop('Unnamed: 0', axis = 1, inplace = True)

In [3]:
df.sample()

,Genre,Runtime,IMDB Score,Language,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
4935,Sports-drama,96.0,5.9,English,Movie,Amateur,Ryan Koo,"Michael Rainey Jr., Josh Charles, Brian White,...",United States,"April 6, 2018",2018,TV-MA,NaN,"Dramas, Independent Movies, Sports Movies","After he's recruited to an elite prep school, ..."

#### Ejercicio 1: ¿Cuántos títulos hay por cada tipo de contenido ('Movie' o 'TV Show')?

In [13]:
df.groupby('type').count().T.sum()

type
Movie      59629
TV Show    21376
dtype: int64

#### Ejercicio 2: ¿Cuál es el promedio de puntuación de las películas agrupadas por clasificación de audiencia ('rating')? Interpreta los resultados, ¿hay algo que te llame la atención? Explica por qué.

In [19]:
df.groupby('rating')['IMDB Score'].mean()

rating
66 min           NaN
74 min           NaN
84 min           NaN
G           6.500000
NC-17            NaN
NR               NaN
PG          6.800000
PG-13       6.386957
R           6.495745
TV-14       6.177660
TV-G        6.156250
TV-MA       6.097638
TV-PG       6.308772
TV-Y        6.780000
TV-Y7       6.240000
TV-Y7-FV         NaN
UR               NaN
Name: IMDB Score, dtype: float64

Existen 'rating' que tienen formato de duración, por lo que no tienen sentido. Además, algunas de las categorías tienen un promedio de NaN, por lo que procedemos a limpiar los valores nulos.

In [20]:
filtro = (df['IMDB Score'].isna() == False)
df_scored = df[filtro]

In [21]:
df_scored.groupby('rating')['IMDB Score'].mean()

rating
G        6.500000
PG       6.800000
PG-13    6.386957
R        6.495745
TV-14    6.177660
TV-G     6.156250
TV-MA    6.097638
TV-PG    6.308772
TV-Y     6.780000
TV-Y7    6.240000
Name: IMDB Score, dtype: float64

Ahora vemos que las puntuaciones tienen sentido y son bastante homogéneas

#### Ejercicio 3: ¿Cuántos títulos hay por cada país? Ordena los resultados de mayor a menor

In [49]:
df.groupby('country')['title'].count().sort_values(ascending=False)

country
United States                                                                          2818
India                                                                                   972
United Kingdom                                                                          419
Japan                                                                                   245
South Korea                                                                             199
                                                                                       ...
Ireland, Canada, Luxembourg, United States, United Kingdom, Philippines, India            1
Ireland, Canada, United Kingdom, United States                                            1
Ireland, Canada, United States, United Kingdom                                            1
Ireland, France, Iceland, United States, Mexico, Belgium, United Kingdom, Hong Kong       1
Zimbabwe                                                                                  1
Name: title, Length: 748, dtype: int64

#### Ejercicio 4: ¿Cuál es la calificación promedio en IMDb de los títulos agrupados por tipo ('Movie' o 'TV Show')?

In [51]:
df.groupby('type')['IMDB Score'].mean()

type
Movie      6.210916
TV Show         NaN
Name: IMDB Score, dtype: float64

In [52]:
# Vamos a probar a limpiar los nulos
filtro_score = (df['IMDB Score'].isna() == False)
# Vemos que efectivamente no hay nulos
df[filtro_score].groupby('type')['IMDB Score'].mean()

type
Movie    6.210916
Name: IMDB Score, dtype: float64

El promedio de Movies es 6.210916

In [56]:
# Vemos que en TV Show solo hay nulos
df[df['type'] == 'TV Show']['IMDB Score'].info()

<class 'pandas.core.series.Series'>
Index: 2676 entries, 1 to 8803
Series name: IMDB Score
Non-Null Count  Dtype
--------------  -----
0 non-null      float64
dtypes: float64(1)
memory usage: 41.8 KB

#### Ejercicio 5: ¿Cuántos títulos se añadieron a Netflix cada año? Para resolver este ejercicio tendrás uqe convertir la columna `date_added` a formato fecha usando el método `pd.to_datetime`. [Aquí](https://pandas.pydata.org/docs/reference/api/pandas.to_datetime.html) tienes la documentación, leeala con detenimiento antes de usar el método.

#### Ejercicio 6: ¿Cuál es el país con más títulos lanzados en el año 2020? Para resolver este ejercicio después del gropuby os puede resultar interesante el método [`idxmax`](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.idxmax.html)

#### Ejercicio 7:¿Cuál es el promedio de puntuación en IMDb de los títulos agrupados por país?

#### Ejercicio 8: ¿Cuántos títulos fueron lanzados en cada año agrupados por tipo ('Movie' o 'TV Show')?

#### Ejercicio 9: ¿Cuál es el país con la mayor cantidad de títulos de clasificación 'TV-MA'?

#### Ejercicio 10. ¿Cuál es el promedio de duración de las películas agrupadas por país?

#### Ejercicio 11: ¿Cuál es el número total de títulos por país y clasificación de audiencia ('rating')?

#### Ejercicio 12: ¿Cuántos títulos fueron lanzados antes del año 2000 agrupados por país?

#### Ejercicio 13: ¿Cuál es la puntuación promedio en IMDb de los títulos lanzados en 2021 agrupados por país?

#### Ejercicio 14: ¿Cuántos títulos fueron dirigidos por cada director? Ordena los resultados de mayor a menor

#### Ejercicio 15: ¿Cuál es el lenguaje más frecuente en los títulos lanzados en los últimos 5 años agrupado por país?